/* add your CSS here */

body {
  border: 2px  solid gray;
  border-radius: 2px;
  margin: 10px; 
  width: 320px;
}


.card {
  width: 300px;
  padding: 5px;
  text-align: center;
}

.descreption {
  border: 4px solid gray;
  border-radius: 3px;
    padding-top: 10px;
}



.fact {
  font-style: italic;
}


.list {
   
    padding: 0;
    word-wrap: break-word;
}




