/* add your CSS here */

body {
  border: 2px  solid gray;
  border-radius: 2px;
  margin: 10px; 
  width: 320px;
}


.card {
  width: 300px;
  padding: 5px;
  text-align: center;
}


.fact {
  font-style: italic;
  border: solid gray;
}


.list {
   list-style: none;
    padding: 0;
    word-wrap: break-word;
    width: 300px;
    padding: 5px;
}


a{
	 font-weight: bold;
}

